<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <title>国际化测试</title>
    </head>
    <body>
        {% trans %}Hello{% endtrans %}
        {% trans %}baicycle{% endtrans %}
        {% trans %}Bye{% endtrans %}
        {% trans %}World{% endtrans %}

        <br />
        {{ user.name }}
    </body>
</html>