Flask==0.12.1
Flask-SQLAlchemy==2.2
Flask-Mail==0.9.1
Flask-Redis==0.3.0
Flask-Testing==0.6.2
Flask-BabelPlus==1.0.1
Flask-Migrate==2.0.3
Flask-Script==2.0.5
Flask-Cache==0.13.1
Flask-Login==0.4.0
Flask-Limiter==0.9.3
Flask-Cors==3.0.2
Flask-Session==0.3.1
Flask-Allows==0.2.0
Flask-APScheduler==1.7.0
Flask-RESTful==0.3.5
Flask-Debugtoolbar==0.10.1
Flask-gzip==0.1
celery==4.0.2
celery-with-redis>=3.0
requests==2.13.0
blinker==1.4
kombu==4.0.2
redis==2.10.5
captcha==0.2.2